@for $i from 1 through 4 {
	.mt-#{$i} {
		margin-top: #{$i}rem;
	}
	.mr-#{$i} {
		margin-right: #{$i}rem;
	}
	.ml-#{$i} {
		margin-left: #{$i}rem;
	}
	.mb-#{$i} {
		margin-bottom: #{$i}rem;
	}

	.mx-#{$i} {
		margin-right: #{$i}rem;
		margin-left: #{$i}rem;
	}

	.my-#{$i} {
		margin-top: #{$i}rem;
		margin-bottom: #{$i}rem;
	}

	.ma-#{$i} {
		margin: #{$i}rem;
	}

	.pt-#{$i} {
		padding-top: #{$i}rem;
	}
	.pr-#{$i} {
		padding-right: #{$i}rem;
	}
	.pl-#{$i} {
		padding-left: #{$i}rem;
	}
	.pb-#{$i} {
		padding-bottom: #{$i}rem;
	}

	.px-#{$i} {
		padding-right: #{$i}rem;
		padding-left: #{$i}rem;
	}

	.py-#{$i} {
		padding-top: #{$i}rem;
		padding-bottom: #{$i}rem;
	}

	.pa-#{$i} {
		padding: #{$i}rem;
	}
	@media (max-width: map_get($breakpoints, 'tablet-wide')) {
		.mt-lg-#{$i} {
			margin-top: #{$i}rem;
		}
		.mb-lg-#{$i} {
			margin-bottom: #{$i}rem;
		}
		.ml-lg-#{$i} {
			margin-left: #{$i}rem;
		}
		.mr-lg-#{$i} {
			margin-right: #{$i}rem;
		}
		.ma-lg-#{$i} {
			margin: #{$i}rem;
		}
		.mx-lg-#{$i} {
			margin-left: #{$i}rem;
			margin-right: #{$i}rem;
		}
		.my-lg-#{$i} {
			margin-top: #{$i}rem;
			margin-bottom: #{$i}rem;
		}
		.pt-lg-#{$i} {
			padding-top: #{$i}rem;
		}
		.pb-lg-#{$i} {
			padding-bottom: #{$i}rem;
		}
		.pl-lg-#{$i} {
			padding-left: #{$i}rem;
		}
		.pr-lg-#{$i} {
			padding-right: #{$i}rem;
		}
		.pa-lg-#{$i} {
			padding: #{$i}rem;
		}
		.px-lg-#{$i} {
			padding-left: #{$i}rem;
			padding-right: #{$i}rem;
		}
		.py-lg-#{$i} {
			padding-top: #{$i}rem;
			padding-bottom: #{$i}rem;
		}
	}
	@media (max-width: map_get($breakpoints, 'tablet')) {
		.mt-md-#{$i} {
			margin-top: #{$i}rem;
		}
		.mb-md-#{$i} {
			margin-bottom: #{$i}rem;
		}
		.ml-md-#{$i} {
			margin-left: #{$i}rem;
		}
		.mr-md-#{$i} {
			margin-right: #{$i}rem;
		}
		.ma-md-#{$i} {
			margin: #{$i}rem;
		}
		.mx-md-#{$i} {
			margin-left: #{$i}rem;
			margin-right: #{$i}rem;
		}
		.my-md-#{$i} {
			margin-top: #{$i}rem;
			margin-bottom: #{$i}rem;
		}
		.pt-md-#{$i} {
			padding-top: #{$i}rem;
		}
		.pb-md-#{$i} {
			padding-bottom: #{$i}rem;
		}
		.pl-md-#{$i} {
			padding-left: #{$i}rem;
		}
		.pr-md-#{$i} {
			padding-right: #{$i}rem;
		}
		.pa-md-#{$i} {
			padding: #{$i}rem;
		}
		.px-md-#{$i} {
			padding-left: #{$i}rem;
			padding-right: #{$i}rem;
		}
		.py-md-#{$i} {
			padding-top: #{$i}rem;
			padding-bottom: #{$i}rem;
		}
	}
	@media (max-width: map-get($breakpoints, 'phablet')) {
		.mt-sm-#{$i} {
			margin-top: #{$i}rem;
		}
		.mb-sm-#{$i} {
			margin-bottom: #{$i}rem;
		}
		.ml-sm-#{$i} {
			margin-left: #{$i}rem;
		}
		.mr-sm-#{$i} {
			margin-right: #{$i}rem;
		}
		.ma-sm-#{$i} {
			margin: #{$i}rem;
		}
		.mx-sm-#{$i} {
			margin-left: #{$i}rem;
			margin-right: #{$i}rem;
		}
		.my-sm-#{$i} {
			margin-top: #{$i}rem;
			margin-bottom: #{$i}rem;
		}
		.pt-sm-#{$i} {
			padding-top: #{$i}rem;
		}
		.pb-sm-#{$i} {
			padding-bottom: #{$i}rem;
		}
		.pl-sm-#{$i} {
			padding-left: #{$i}rem;
		}
		.pr-sm-#{$i} {
			padding-right: #{$i}rem;
		}
		.pa-sm-#{$i} {
			padding: #{$i}rem;
		}
		.px-sm-#{$i} {
			padding-left: #{$i}rem;
			padding-right: #{$i}rem;
		}
		.py-sm-#{$i} {
			padding-top: #{$i}rem;
			padding-bottom: #{$i}rem;
		}
	}
	@media (max-width: map-get($breakpoints, 'phone')) {
		.mt-xs-#{$i} {
			margin-top: #{$i}rem;
		}
		.mb-xs-#{$i} {
			margin-bottom: #{$i}rem;
		}
		.ml-xs-#{$i} {
			margin-left: #{$i}rem;
		}
		.mr-xs-#{$i} {
			margin-right: #{$i}rem;
		}
		.ma-xs-#{$i} {
			margin: #{$i}rem;
		}
		.mx-xs-#{$i} {
			margin-left: #{$i}rem;
			margin-right: #{$i}rem;
		}
		.my-xs-#{$i} {
			margin-top: #{$i}rem;
			margin-bottom: #{$i}rem;
		}
		.pt-xs-#{$i} {
			padding-top: #{$i}rem;
		}
		.pb-xs-#{$i} {
			padding-bottom: #{$i}rem;
		}
		.pl-xs-#{$i} {
			padding-left: #{$i}rem;
		}
		.pr-xs-#{$i} {
			padding-right: #{$i}rem;
		}
		.pa-xs-#{$i} {
			padding: #{$i}rem;
		}
		.px-xs-#{$i} {
			padding-left: #{$i}rem;
			padding-right: #{$i}rem;
		}
		.py-xs-#{$i} {
			padding-top: #{$i}rem;
			padding-bottom: #{$i}rem;
		}
	}
}
.mt-half {
	margin-top: 0.5rem;
}
.ml-half {
	margin-left: 0.5rem;
}
.mr-half {
	margin-right: 0.5rem;
}
.mb-half {
	margin-bottom: 0.5rem;
}
.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}
.mtn-1 {
	margin-top: -0.5rem;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

.text-white {
	color: #fff !important;
}

.db {
	display: block !important;
}
.dib {
	display: inline-block;
}

.df {
	display: flex;
}
.aic {
	align-items: center;
}
.jcc {
	justify-content: center;
}
.jcsb {
	justify-content: space-between;
}
.fww {
	flex-wrap: wrap;
}
.acsa {
	align-content: space-around;
}
.display-1 {
	font-size: calc(2vmin + 2rem);
}
.display-2 {
	font-size: calc(2vmin + 1.5rem);
}
.display {
	font-size: calc(2vmin + 1rem);
}
.title-1 {
	font-size: 1.5rem;
}
.title-2 {
	font-size: 1.2rem;
}

.custom-title {
	font-size: 1rem;
}

.img-responsive {
	display: block;
	width: 100%;
	height: auto;
}

.full-height {
	min-height: 100vh;
}
.full-width {
	width: 100%;
}
.buttons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	align-content: space-around;
	& > *:not(:last-child) {
		margin-right: 0.5rem;
	}
}
.text-color-white {
	color: #fff;
}
.text-color-light {
	color: var(--light-color);
}
.text-color-dark {
	color: var(--dark-color);
}
.text-color-light-dark {
	color: var(--dark-color-light);
}
.text-color-info {
	color: var(--info-color);
}
.text-color-secondary {
	color: var(--secondary-color);
}
.text-color-primary {
	color: var(--primary-color);
}
.text-color-primary-light {
	color: var(--primary-light-color);
}
.text-color-negative {
	color: var(--negative-color);
}
.text-color-positive {
	color: var(--positive-color);
}

.bg-color-white {
	background-color: #fff;
}
.bg-color-light {
	background-color: var(--light-color);
}
.bg-color-dark {
	background-color: var(--dark-color);
}
.bg-color-info {
	background-color: var(--info-color);
}
.bg-color-secondary {
	background-color: var(--secondary-color);
}
.bg-color-primary {
	background-color: var(--primary-color);
}
.bg-color-primary-light {
	background-color: var(--primary-light-color);
}
.bg-color-negative {
	background-color: var(--negative-color);
}
.bg-color-positive {
	background-color: var(--positive-color);
}

$points: (
	'lg': 'tablet-wide',
	'md': 'tablet',
	'sm': 'phablet',
	'xs': 'phone'
);
@each $m, $p in $points {
	@media (max-width: map-get($breakpoints, $p)) {
		.hide-#{$m}-and-down {
			display: none !important;
		}
	}
}
