.page-fade-enter-active,
.page-fade-leave-active {
	transition: opacity 0.3s, 0.4s transform;
}
.page-fade-enter {
	opacity: 0;
	transform: skew(4deg);
}
.page-fade-leave-to {
	opacity: 0;
	transform: skew(-4deg);
}
