@keyframes fadeAndTranslateXEl {
	from {
		opacity: 0;
		transform: translateX(-100px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeAndTranslateYUpEl {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeAndTranslateYDownEl {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.anim-trX-fast {
	animation: fadeAndTranslateXEl 0.8s;
}

.anim-trX-middle {
	animation: fadeAndTranslateXEl 1.3s;
}

.anim-trX-slow {
	animation: fadeAndTranslateXEl 1.8s;
}
.anim-trX-fast-delay {
	animation: fadeAndTranslateXEl 0.8s 0.8s;
}

.anim-trX-middle-delay {
	animation: fadeAndTranslateXEl 1.3s 1.3s;
}

.anim-trX-slow-delay {
	animation: fadeAndTranslateXEl 1.8s 1.8s;
}

.anim-trY-fast {
	animation: fadeAndTranslateYUpEl 0.8s;
}

.anim-trY-middle {
	animation: fadeAndTranslateYUpEl 1.3s;
}

.anim-trY-slow {
	animation: fadeAndTranslateYUpEl 1.8s;
}

.anim-trY-down-fast {
	animation: fadeAndTranslateYDownEl 0.8s;
}

.anim-trY-down-middle {
	animation: fadeAndTranslateYDownEl 1.3s;
}

.anim-trY-down-slow {
	animation: fadeAndTranslateYDownEl 1.8s;
}

.page-fade-enter-active,
.page-fade-leave-active {
	transition: opacity 0.3s, 0.4s transform;
}
.page-fade-enter {
	opacity: 0;
	transform: skew(4deg);
}
.page-fade-leave-to {
	opacity: 0;
	transform: skew(-4deg);
}
.pulse {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	top: 0%;
	left: 0%;
	transform: scale(0);
}
.anim {
	animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
	to {
		transform: scale(2);
		opacity: 0;
	}
}
