.layout-fade-enter-active, 
.layout-fade-leave-active {
  transition: opacity .5s;
}
.layout-fade-enter, 
.layout-fade-leave-active {
  opacity: 0;
}
.page-fade-enter-active,
.page-fade-leave-active {
  transition: opacity .5s, transform .3s;
}
.page-fade-enter {
	opacity: 0;
  transform: translateX(100px);
}
.page-fade-leave-to {
  opacity: 0;
  transform: translateX(-100px);
}
.margin-transition {
	transition: .33s margin-left;
}
@media (min-width: 576px) {
	.push-content-left {
		margin-left: 250px;
	}
	.push-content-right {
		margin-right: 250px;
	}
}
