@keyframes fadeAndTranslateXEl {
	from {
		opacity: 0;
		transform: translateX(-100px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeAndTranslateYUpEl {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeAndTranslateYDownEl {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.anim-trX-fast {
	animation: fadeAndTranslateXEl .8s;
}

.anim-trX-middle {
	animation: fadeAndTranslateXEl 1.3s;
}

.anim-trX-slow {
	animation: fadeAndTranslateXEl 1.8s;
}
.anim-trX-fast-delay {
	animation: fadeAndTranslateXEl .8s .8s;
}

.anim-trX-middle-delay {
	animation: fadeAndTranslateXEl 1.3s 1.3s;
}

.anim-trX-slow-delay {
	animation: fadeAndTranslateXEl 1.8s 1.8s;
}

.anim-trY-fast {
	animation: fadeAndTranslateYUpEl .8s;
}

.anim-trY-middle {
	animation: fadeAndTranslateYUpEl 1.3s;
}

.anim-trY-slow {
	animation: fadeAndTranslateYUpEl 1.8s;
}


.anim-trY-down-fast {
	animation: fadeAndTranslateYDownEl .8s;
}

.anim-trY-down-middle {
	animation: fadeAndTranslateYDownEl 1.3s;
}

.anim-trY-down-slow {
	animation: fadeAndTranslateYDownEl 1.8s;
}

.layout-fade-enter-active,
.layout-fade-leave-active {
	transition: opacity .5s;
}
.layout-fade-enter,
.layout-fade-leave-active {
	opacity: 0;
}
.page-fade-enter-active,
.page-fade-leave-active {
	transition: opacity .5s; //, transform .3s;
}
.page-fade-enter {
	opacity: 0;
	// transform: translateX(100px);
}
.page-fade-leave-to {
	opacity: 0;
	// transform: translateX(-100px);
}
.margin-transition {
	transition: .33s margin-left;
}
@media (min-width: 576px) {
	.push-content-left {
		margin-left: 250px;
	}
	.push-content-right {
		margin-right: 250px;
	}
}
.text-white {
	color: #fff !important;
}
.db {
	display: block;
}
.dib {
	display: inline-block;
}

.df {
	display: flex;
}
.aic {
	align-items: center;
}
.jcc {
	justify-content: center;
}
.display-1 {
	font-size: calc(2vmin + 2rem);
}
.display-2 {
	font-size: calc(2vmin + 1.5rem);
}
.display {
	font-size: calc(2vmin + 1rem);
}
.title-1 {
	font-size: 1.5rem;
}
.title-2 {
	font-size: 1.2rem;
}
.title {
	font-size: 1rem;
}

.img-responsive {
	display: block;
	width: 100%;
	height: auto;
}

.height-100 {
	min-height: 100vh;
}
